/**** Users ****/
.user {
    margin: 20px 0 20px 0;
    padding: 10px 0 10px 0;
    overflow-x: auto !important;
    display: block !important;
}

#user-img {
    padding: 10px 0 10px 0;
}
/*+++ Users +++*/


/**** Projects ****/
ul.decrease-padding-left {
    padding-left: 18px;
}
/*+++ Projects +++*/


/**** Post ****/
div.search-post {
    margin: 0 15px 0 15px !important;
}
div.post{
    margin: 0 15px 0 15px;
}
table td {
    min-width: 110px;
    padding-right: 10px !important;
}
.decrease-margin-bottom {
    margin-bottom: 5px;
}
/*+++ Post +++*/

/**** Add user ****/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/*+++ Add user +++*/



@media screen and (max-device-width: 720px) and (orientation: portrait) {
    #content {
        padding: 0 20px 15px 20px;
    }
    #ficha {
        padding: 0 5px 0 5px;
    }
}
